---
layout: base.njk
title: Hello World
---

{{ github | dump}}
<h1>{{github.login}} Joined {{github.created_at}}</h1>
    <img src="{{github.avatar_url}}" alt="{{github.login}}">
<div class="spinner-border me-md-3" role="status">
    
</div>

<div class="Spon"  style="--d:1.2">
    <div class="Spon" style="--d:0.5">
        <h1 style="font-size: 10rem">bogus</h1>
    </div>
<div class="Spon" style="--d:3">
    <h1 style="font-size: 10rem">bogus</h1>
    
    </div>
    <h1 style="font-size: 10rem">bogus</h1>
    <div class="Spon" style="--d:4">
        <h1 style="font-size: 10rem">bogus</h1>
    </div>
</div>


<h2>Meeps</h2>
<div id="meeps">
    <Button>Fetch</Button>
    <div class="spinner-border d-none" role="status">
  <span class="sr-only">Loading...</span>
</div>
</div>
<script>
    // https://api.github.com/users/marc0-03/repos
    const button = document.querySelector('#meeps > button');
    const spinner = document.querySelector('#meeps > .spinner-border')
    button.addEventListener('click', (e) => {
        console.log(e);
        spinner.classList.toggle('d-none');
        fetch('https://te19-meps.herokuapp.com/api')
        .then(response => response.json())
        .then(data => {
            spinner.classList.toggle('d-none');
            const meeps = document.querySelector('#repos');
            data.forEach(meep => {
                const p = document.createElement('p');
                p.textContent = meep;
                meeps.appendChild(p);
            });
        });
    });
</script>